<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    
        <h1>This is a Video section</h1>



</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
</head>
<body>
    
    <div> 
        <header>

        <nav>
            <ul>
                <li>
                    <a href="#home">HOME</a>
                </li>
                <li>
                    <a href="#about us">ABOUT US</a>
                </li>
                <li>
                    <a href="#simulation">SIMULATION</a>
                    
                </li>
                <li>
                    <a href="#hardware">HARDWARE</a>
                </li>
            </ul>
        </nav>
        </header>

    </div><br>

    <div class="search-bar">
        <input type="text" placeholder="search here">
    </div>
        <hr>
        <h3>Automatic Rain Gauge</h3>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/oyM3Tx6DOoI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
        <h3>Resistor</h3>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/CDo7TxTwvmE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
         
        <h3>Capacitor</h3>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/128KfSjmVz8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
        <h3>Light-emitting diode(LED)</h3>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/nelCusTvJlE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        <h3>Mobile stand made by metal sheet</h3>
        <iframe width="300" height="200" src="https://www.youtube.com/embed/PQnk4sCtqWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        
        
</body>
</html>